<html>
	<head>
		<title>My API Invoker HTML</title>
	</head>
	<body>
		<h2>The API Caller</h2>
		<form id="mainForm">
			<button type="button" onclick="callAPIGet()">Button</button>
		</form>
	</body>
	<script type="text/javascript">
	    var xhttp = new XMLHttpRequest();

		function callAPIPost() {
		    xhttp.onreadystatechange = function() {
		         if (this.readyState == 4 && this.status == 200) {
		             alert(this.responseText);
		         }
		    };
		    xhttp.open("POST", "Your Rest URL Here", true);
		    xhttp.setRequestHeader("Content-type", "application/json");
		    xhttp.send("Your JSON Data Here");
		}

		function callAPIGet(){
			xhttp.onreadystatechange = function() {
		         if (this.readyState == 4 && this.status == 200) {
		             alert(this.responseText);
		         }
		    };
		    xhttp.open("GET", "/pagecount", true);
		    //xhttp.setRequestHeader("Content-type", "application/json");
		    //xhttp.send("Your JSON Data Here");
		}
	</script>
</html>